/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Libre+Baskerville:400");

/*
=============== 
Variables
===============
*/
:root {
  /* colors */
  /* primary */
  --primary-100: #e2cdfd;
  --primary-200: #c59cfa;
  --primary-300: #a86af8;
  --primary-400: #8b39f5;
  --primary-500: #6e07f3;
  --primary-600: #5806c2;
  --primary-700: #420492;
  --primary-800: #2c0361;
  --primary-900: #160131;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: "Libre Baskerville", serif;
  --bodyFont: "Montserrat", sans-serif;
  --smallText: 0.8rem;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s linear;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

/*
=============== 
Global Classes
===============
*/
*,
::after,
::before {
  box-sizing: border-box;
}

/* typescale */
html {
  font-size: 100%;
} /*16px*/
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.5;
  color: var(--textColor);
}
p {
  margin-bottom: 1.25rem;
  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small,
.text_small {
  font-size: var(--smallText);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
img:not(.nav-logo) {
  width: 100%;
  /* if not display: block, there is weird empty space in the bottom */
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* form */
.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */
.title {
  text-align: center;
}

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* added during progress */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--primary-500);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--primary-800);
    top: 2rem;
    /* right: -2rem; */
    border-radius: var(--borderRadius);
  }
}

/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  height: 5rem;
  padding: 1rem;
  display: grid;
  align-items: center;
  transition: var(--transition);
}
.nav-center {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}
.nav-logo {
  font-size: 1.75rem;
  color: var(--grey-500);
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.nav-logo span {
  font-weight: 600;
  color: var(--grey-600);
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  color: var(--primary-500);
  cursor: pointer;
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .nav {
    background: var(--primary-100);
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--grey-900);
    font-weight: bold;
    letter-spacing: var(--letterSpacing);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--primary-500);
  }
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white);
  z-index: 5;
  box-shadow: var(--shadow-2);
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 4;
  align-items: center;
  justify-content: center;
  background: var(--grey-100);
  transition: var(--transition);
  /* hide sidebar */
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translateX(0);
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  display: block;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--grey-500);
  letter-spacing: var(--spacing);
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--primary-500);
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
  width: 20rem;
  justify-items: center;
}
.social-icons a {
  font-size: 1.5rem;
  color: var(--grey-900);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--primary-500);
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  color: #bb2525;
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  color: #e66b6b;
}

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  background: var(--primary-100);
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-img {
  display: none;
}
.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.hero-info h4 {
  color: var(--grey-500);
}
.hero-icons {
  justify-items: start;
}
.hero-btn {
  margin-top: 1.25rem;
}
@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  /* the :before element is added to global classes */
}
.photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--borderRadius);
  /* frame should behind the photo  */
  position: relative;
}

/*
=============== 
About
===============
*/
/* section title added to globals */
.about-title {
  text-align: left;
  margin-bottom: 2rem;
}
.about-title .underline {
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-img {
  justify-self: center;
}
.about-info p {
  text-align: justify;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  /* frame added to global css */
  .about-img {
    position: relative;
    justify-self: center;
  }
  .about-img::before {
    left: -2rem;
  }
  .about-info {
    align-self: center;
  }
}

/*
=============== 
Services
===============
*/
.services {
  background: var(--grey-200);
}
.service {
  text-align: center;
  background: var(--backgroundColor);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--transition);
}
.service p {
  transition: var(--transition);
}
.service:hover {
  background: var(--primary-500);
  color: var(--white);
}
.service:hover p {
  color: var(--white);
}
.service:hover .underline {
  background: var(--white);
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
=============== 
Projects
===============
*/
.projects-text {
  width: 85vw;
  margin: 0 auto;
  max-width: 30rem;
}
.project {
  position: relative;
  background: var(--primary-300);
  border-radius: var(--borderRadius);
  margin-bottom: 2rem;
}
.project-info {
  text-align: center;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}
.project-info p {
  text-transform: capitalize;
  color: var(--white);
}
.project:hover .project-info {
  opacity: 1;
}
.project-img {
  transition: var(--transition);
  border-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}
.project:hover .project-img {
  opacity: 0.1;
}
.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--white);
  border-radius: var(--borderRadius);
  transition: var(--transition);
  opacity: 0;
}
.project:hover::after {
  opacity: 1;
  transform: scale(0.8);
}
@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    gap: 1rem;
    grid-template-areas:
      "a b b"
      "a c d";
  }
  /* rewrite project-img height from 15rem; */
  .project-img {
    height: 100%;
  }
  /* because the project is wrapped by <a> tag, need to stretch */
  .project {
    height: 100%;
  }
  .project-1 {
    grid-area: a;
  }
  .project-2 {
    grid-area: b;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}

/*
=============== 
Connect
===============
*/
.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0;
  display: grid;
  place-items: center;
  clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
/* create a whiter overlay over video img */
.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-500);
  opacity: 0.7;
  z-index: -1;
}
.video-banner .section-title {
  margin-bottom: 2rem;
}
.video-text {
  max-width: 30rem;
}
.video-banner {
  background: var(--primary-100);
  padding: 3rem 5rem 10rem;
  text-align: center;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

/*
=============== 
Skills
===============
*/
.skills {
  background: var(--grey-200);
}
.skills h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
  letter-spacing: var(--letterSpacing);
  font-weight: semibold;
}
.skill {
  margin-bottom: 2rem;
}
.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--primary-400);
}
.skill-container {
  position: relative;
  height: 1rem;
  width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
}
.skill-value {
  position: absolute;
  background: var(--primary-300);
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--borderRadius);
}
.value-80{
  width: 80%;
}
.value-70{
  width: 70%;
}
.value-60{
  width: 60%;
}
.value-50{
  width: 50%;
}
.skill-text {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.skill-text-80{
  left: 80%;
}
.skill-text-70{
  left: 70%;
}
.skill-text-60{
  left: 60%;
}
.skill-text-50{
  left: 50%;
}
@media screen and (min-width: 768px){
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}